.chart-plot-background {
    -fx-border-color: linear-gradient(#5f2c82, #49a09d);
    -fx-border-width: 5;
}
.axis:top {
    -fx-border-color: transparent;
}

.axis:right {
    -fx-border-color: transparent;
}

.axis:bottom {
    -fx-border-color: transparent;
}

.axis:left {
    -fx-border-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
.axis-tick-mark {
    -fx-stroke: linear-gradient(to top right, red, yellow);
    -fx-stroke-width: 3;
}
.axis {
    -fx-tick-label-fill: purple;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
.chart-vertical-zero-line{
    -fx-opacity: 0;
}
.chart-horizontal-zero-line{
    -fx-opacity: 0;
}
.chart-series-line{
    -fx-stroke: transparent;
}
.data:hover{
    -fx-cursor: hand;
}
.title{
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
/*.pane{
    -fx-border-color: black;
}*/


